#menu-level-1 li.debugger {
    display: none;
}

embed.full-svg-artifact {
    position: absolute;
    width: 100%;
    height: 100%;
}

div.full-svg-artifact {
    overflow-x: auto;
    overflow-y: auto;
    width: 100%;
    height: 100%;
}

table.svg-overview img.svg-artifact {
    max-width: 600px;
}
table.breakpoints-overview img.svg-artifact,
table.interrupted-instances-overview img.svg-artifact {
    max-width: 500px;
}

.breakpoint-cell .breakpoint {
    border-bottom: 1px solid #DDD;
    padding: 5px;
    float: left;
    width: 99%;
}

.matching-breakpoint-cell > a,
.breakpoint > a {
    padding-right: 15px;
    display: block;
    float: left;
}

a.show-full-svg-artifact > div {
    display: inline;
}